/**
 * CSS styling for Campus Life tab components
 */
body {
    margin: 2rem;
    background: white;
    color: #000;
    font: 100%/1.4 Sans-Serif;
}
.tab-content {
    margin: 2rem;
}
button:focus {
    /* disable button outline when button clicked */
    outline: 0;
}
.tab-button-group {
    padding-left: 2rem;
    margin: 0;
    border-bottom: 1px solid lightgray;
}
.tab-button {
    border: 0;
    border-radius: 3px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
    vertical-align: bottom;
    color: grey;
    padding: 10px;
    min-width: 9rem;
    background: white;
}
.tab-button.active {
    border: 1px solid lightgray;
    border-top: 3px solid;
    border-bottom: 3px solid transparent;
    position: relative;
    bottom: -4px;
}
.tab-button.active:nth-child(1) {
    color: #c6a0d5;
    border-top-color: #9b59b6;
}
.tab-button.active:nth-child(2) {
    color: #8bc4ea;
    border-top-color: #3498db;
}
.tab-button.active:nth-child(3) {
    color: #f0b37e;
    border-top-color: #e67e22;
}
.tab-button.active:nth-child(4) {
    color: #df7c72;
    border-top-color: #c0392b;
}

/* Add more child component styles here */

/**
 * Mobile view adjustments 
 * max-width value should be adjusted based on 
 * number of tabs (overflow-x width) of tab group 
 */
@media only screen and (max-width: 850px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    .tab-button-group {
        padding-left: 0;
    }
    .tab-button {
        border-bottom: 0;
        overflow: hidden;
        position: relative;
        background: #f0f0f5;
        margin-left: 0;
        width: 100%;
    }
    .tab-button::after {
        position: absolute;
        right: 15px;
        z-index: 2;
        pointer-events: none;
    }
    .tab-button.active {
        position: relative;
        display: block;
        border: 0;
        top: 0;
    }
    .tab-item {
        display: inherit;
        display: contents;
        display: block;
    }
    .tab-content {
        margin: 0;
    }
    .tab-button.active {
        border: 0;
        z-index: 1;
        background: #191970;
        /* background: linear-gradient(#191970, #42428a); */
    }
}

/**
 * Campus Life tables css styling for 
 * Insert between <style> tags  
 * to add inline css to html file
 */
html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    position: relative;
    overflow-y: hidden; /* hide vertical scroll bars of html block */
    height: 100%;
}
table-body {
    overflow-y: hidden;
    min-height: fit-content;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
th {
    border: 2px solid #191970;
    background-color: #42428a;
    color: #fff;
    font-weight: normal;
    padding: 5px;
}
td {
    border: 2px solid #c0c0d8;
    background-color: #ededf2;
    padding: 8px;
}
a {
    text-decoration-line: none;
}
p {
    font-size: 14px;
    text-align: justify;
}
.reference {
    /* style for source citation  */
    font-style: italic;
    font-size: 12px;
    line-height: 1.5em;
    margin-top: 15px;
}

/** 
 * Mobile device view 
 * Max-width should be adjusted based on the number of tabs 
 */
@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
