/**
 * Campus Life tables css styling for 
 * Insert between <style> tags  
 * to add inline css to html file
 */
html {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    position: relative;
    overflow-y: hidden; /* hide vertical scroll bars of html block */
    height: 100%;
}
table-body {
    overflow-y: hidden;
    min-height: fit-content;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
th {
    border: 2px solid #191970;
    background-color: #42428a;
    color: #fff;
    font-weight: normal;
    padding: 5px;
}
td {
    border: 2px solid #c0c0d8;
    background-color: #ededf2;
    padding: 8px;
}
a {
    text-decoration-line: none;
}
p {
    font-size: 14px;
    text-align: justify;
}
.reference {
    /* style for source citation  */
    font-style: italic;
    font-size: 12px;
    line-height: 1.5em;
    margin-top: 15px;
}

/* Mobile device view */
@media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}
